#wrap {
    width: 100%;
    height: 100%;
    padding-right: 180px;
    /* 헤더만큼 패딩 주기 */
}

#wrap>h1 {
    font-size: 0;
    /* 정보 전달용 h1이므로 폰트 사이즈 == 0으로 설정하여 화면에는 보이지 않게 함*/
}

/* ------------헤더------------ */

header .logo-box {
    position: absolute;
    right: 35px;
    top: 75px;
}

header .logo-box img {
    width: 100px;
}

#wrap header {
    width: 180px;
    height: 100%;
    position: fixed;
    /* 위치 고정 */
    right: 0;
    top: 0;
    background: url(../images/menu_bg1.png) repeat-y;
    /* background-image: url(../images/menu_bg1.png);
    background-repeat: repeat-y; */
    z-index: 11;
}

#wrap header nav {
    width: 100%;
    height: 100%;
}

#wrap header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrap header nav ul li {
    margin: 0 0 10px 30px;
    position: relative;
    padding-left: 15px;
}

#wrap header nav ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    /* 텍스트 높이 지정 */
}

#wrap header nav ul li a:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 13px;
}

#wrap header nav ul li:hover a,
#wrap header nav ul li.on a {
    color: #ed3140;
}

#wrap header nav ul li:hover a:after,
#wrap header nav ul li.on:after {
    background: #ed3140;
    /* 호버 시에 불릿 색상 바꾸기 */
}

/* ------------푸터------------ */

footer {
    width: 180px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0px 20px 30px 20px;
    font-size: 11px;
    color: #7e7e7e;
    z-index: 12;
}

footer address {
    padding: 0px 0px 15px 0px;
}

footer>a {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -31px;
    transition: .4s;
    /* 애니메이션 속도 조절 */
}

footer>a.face {
    background: url(../images/social_b_facebook.png) no-repeat;
    right: 18px;
}

footer>a.face:hover {
    background: url(../images/social_b_facebook_hover.png) no-repeat;
}

footer>a.twit {
    background: url(../images/social_b_twitter.png) no-repeat;
    right: 48px;
}

footer>a.twit:hover {
    background: url(../images/social_b_twitter_hover.png) no-repeat;
}

footer>a.instar {
    background: url(../images/social_b_instar.png) no-repeat;
    right: 80px;
}

footer>a.instar:hover {
    background: url(../images/social_b_instar_hover.png) no-repeat;
}



/* ----------컨테이너---------- */

#container {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#container .content {
    width: 25%;
    height: 100%;
    position: absolute;
}

#container #menu1 {
    left: 0%;
    background: url(../images/content_bg1.png) repeat;
}

#container #menu2 {
    left: 25%;
    background: url(../images/content_bg2.png) repeat;
}

#container #menu3 {
    left: 50%;
    background: url(../images/content_bg3.png) repeat;
}

#container #menu4 {
    left: 75%;
    background: url(../images/content_bg4.png) repeat;
}

/* -------디자인적인 구성이므로 가상 선택자만 이용하여 제작 (정보 전달 목적 X)------- */
/* -------클릭하면 상세 페이지가 보이는...------- */

#container .content:before,
#container .content:after {
    content: "";
    display: block;
    position: absolute;
}

#container .content:before {
    /* 각 content 앞에 들어가는 라인 (border) */
    width: 1px;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: 4;
}

#container .content:after {
    left: 30px;
    top: 180px;
    /* content 글자들의 위치 조정 */
    font-size: 25px;
    font-weight: 700;
    color: #ed3140;
}

#container #menu1:after {
    content: "회사소개";
}

#container #menu2:after {
    content: "도서소개";
}

#container #menu3:after {
    content: "FAQ";
}

#container #menu4:after {
    content: "Contact Us";
}

#container .content .conbox:before {
    content: "";
    display: block;
    position: absolute;
}

#container #menu1 .conbox:before {
    background: url(../images/main_ico1.png) no-repeat;
    width: 350px;
    height: 260px;
    right: -13px;
    top: 130px;
    background-size: 100%;
}

#container #menu2 .conbox:before {
    background: url(../images/main_ico2.png) no-repeat;
    width: 180px;
    height: 470px;
    right: -30px;
    top: 180px;
    background-size: 100%;
}

#container #menu3 .conbox:before {
    background: url(../images/main_ico3.png) no-repeat;
    width: 270px;
    height: 310px;
    right: -60px;
    top: 30px;
    background-size: 100%;
}

#container #menu4 .conbox:before {
    background: url(../images/main_ico4.png) no-repeat;
    width: 350px;
    height: 400px;
    right: -170px;
    top: 100px;
    background-size: 100%;
}

#container .content h2 {
    opacity: 0;
}